.footer {
  margin: 20px;
  
    
    
}



.footer-container {
  gap: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1036px) {
  .footer-container {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  @media screen and (max-width:1036px) {
    .footer-container {}
  }

  .left {
    min-width: 100px;
    max-width: 100px;
  }

  .middle {
    min-width: 100px;
    max-width: 100px;
  }

  .right {
    min-width: 100px;
    max-width: 100px;
  }
  
}

.left {
  max-width: 300px;
  min-width: 300px; 
    
}

.left > p {
    
}

.middle {
  max-width: 300px;
  min-width: 300px;
    margin: 20px;
  
}
.links {
  display: flex;
  gap: 40px;
  position: relative;
  top: 30px;
  
}

.links .link-col1 > p {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
}

.links .link-col2 > p {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
}

.right {
    max-width: 300px;
    min-width: 300px;
    
    
}

.header {
    position: relative;
    bottom: 15px;
}

.right > h5 {
    
    
    display: flex;
}

.contact {
    position: relative;
    display: flex;
    padding-top: 20px;
    align-items: center;
    
}